<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <div class="user-container">
        {% if user.is_authenticated %}
            Welcome back, {{user.username}}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-button">Logout</button>
            </form>
        {% else %}
            Please <a href="{% url 'login' %}?next={{request.path}}">Login</a>
        {% endif %}
    </div>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1 class="question-text">{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>
        {% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"
                    {% if user_vote is not None and user_vote.choice.id == choice.id %}checked{% endif %}>
                <label for="choice{{ forloop.counter }}" class="choice-text">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <input type="submit" value="Vote" class="vote-button">
            <a href="{% url 'polls:results' question.id %}" class="result-button">Results</a>
        </fieldset>
        <br>
        <a href="{% url 'polls:index' %}" class="to-list-button">Back to list of polls</a>
    </form>
</body>
</html>