<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    {% if latest_question_list %}
    <ul class="question-list">
    {% for question in latest_question_list %}
        <li class="question-item">
            <div class="question-container">
                {% if question.is_published %}
                    <div class="open-status">Open</div>
                {% else %}
                    <div class="close-status">Close</div>
                {% endif %}
                <a href="{% url 'polls:detail' question.id %}" class="question-link">{{ question.question_text }}</a>
                <a href="{% url 'polls:results' question.id %}" class="result-index-button">Result</a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>

