<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">

    <div class="container">
        <h1>Ku Polls</h1>
        {% if user.is_authenticated %}
            Welcome back, {{user.username}}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button>Logout</button>
            </form>
        {% else %}
            Please <a href="{% url 'login' %}?next={{request.path}}">Login</a>
        {% endif %}
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if latest_question_list %}
    <ul class="question-list">
    {% for question in latest_question_list %}
        <li class="question-item">
            <div class="question-container">
                {% if question.is_published %}
                    <div class="open-status">Open</div>
                {% else %}
                    <div class="close-status">Close</div>
                {% endif %}
                <a href="{% url 'polls:detail' question.id %}" class="question-link">{{ question.question_text }}</a>
                <a href="{% url 'polls:results' question.id %}" class="result-index-button">Result</a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>

