html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('/static/polls/images/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

fieldset {
  border: 3px solid #ffb3c6;
  border-radius: 7px;
}

.question-text {
  color: #fb6f92;
  font-size: 30px;
  margin-left: 5px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  }

.choice-text {
  color: #ff8fab;
  font-size: 19px;
  margin-bottom: 7px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  }

.vote-button {
  background-color: #fb6f92;
  border-color: #fb6f92;
  border-style: solid;
  border-radius: 20px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  height: 38px;
  font-size: 15px;
  font-weight: bold;
  }

.to-list-button {
  display: inline-block;
  background-color:  #fb6f92;
  border: 2px solid  #fb6f92;
  border-radius: 30px;
  color: white;
  text-align: center;
  margin-left: 19px;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  line-height: 41px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

 .results {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
  color: white;
  }

 .results thead tr {
   background-color: #f6a6bb;
   text-align: left;
   font-weight: bold;
   }

.results tbody tr {
  color: #8B4513;
  }

.results th,
.results td {
  padding: 12px 15px;
  }

.results tbody tr {
  border-bottom: 1px solid #dddddd;
  }

.results tbody tr:nth-of-type(even) {
  background-color: #f7eeed;
  }

.results tbody tr:nth-of-type(odd) {
  background-color: #fae6e7;
  }

.result-button {
  background-color: #fb6f92;
  border-color: #fb6f92;
  border-style: solid;
  border-radius: 20px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  height: 36px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  }

.question-with-status {
  background-color: #fae6e7;
  padding: 12px 15px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin-left: 215px;
  margin-top: 10px;
  }

.question-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }

.question-item {
  margin-bottom: 20px;
 }

.question-container {
  display: flex;
  justify-content: space-between;
  }

.question-text {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fb6f92;
  font-weight: bold;
  font-size: 22px;
  margin-left: 12px;
  margin-top: 2px;
  line-height: 60px;
  }

.question-link {
  background-color: #fb6f92;
  border-color: #fb6f92;
  border-style: solid;
  border-radius: 20px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  height: 36px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  margin-right: 0;
  }

.result-index-button {
  background-color: #fb6f92;
  border-color: #fb6f92;
  border-style: solid;
  border-radius: 20px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  height: 36px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  margin-right: 0;
  }

.open-status {
  background-color: #5b744b;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: 60px;
  height: 28px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  }

.close-status {
  background-color: #cc313d;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: 60px;
  height: 28px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  }

.messages .error {
  background-color: #ffcbd1;
  border-radius: 7px;
  color: #d1001f;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  list-style: none;
  width: 430px;
  height: 40px;
  text-align: center;
  line-height: 37px;
  margin-left: 500px;
  border: 1px solid #c30010;
  }

.ku-poll-title {
  color: #fb6f92;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 54px;
  margin-left: 640px;
  }

.user-container {
  color: #fb6f92;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  top: 15px;
  right: 20px;
  position: absolute;
  }

.logout-button {
  background-color: #fae6e7;
  border: none;
  border-radius: 5px;
  color: #fb6f92;
  font-weight: bold;
  font-size: 16px;
  }

.messages .success {
  background-color: #d4e8c2;
  border-radius: 7px;
  color: #287233;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  list-style: none;
  width: 430px;
  height: 40px;
  text-align: center;
  line-height: 37px;
  margin-left: 500px;
  border: 1px solid #a4c593;
  }