<html>
<body>
{% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
<h2 class="ku-poll-title">Login</h2>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post" id="login-form">
  {% csrf_token %}
  {{ form.as_p }}
  <p>
  <button type="submit" class="login-button">Login</button>
  </p>
  <input type="hidden" name="next" value="{{next}}"/>
 </form>
 {# If you have a sign-up page, then add a link here #}
</body>
</html>